<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle routerLink="/app2/one" >Calendario</mat-button-toggle>
    <mat-button-toggle routerLink="/app2/two" >Listado clientes</mat-button-toggle>
</mat-button-toggle-group>