<app-nav></app-nav>
<mat-list>
    <mat-list-item> Antonio Banderas </mat-list-item>
    <mat-list-item> Pepe el maricon </mat-list-item>
    <mat-list-item> Otro homosesua </mat-list-item>
</mat-list>
