

<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Holiiii</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <button mat-button *ngIf="showApp1">
            <mat-icon>dialpad</mat-icon>
            <a mat-button routerLink="/app1" >App 1</a>
        </button>
        <button mat-button *ngIf="showApp2">
            <mat-icon>voicemail</mat-icon>
            <a mat-button routerLink="/app2" >App 2</a>
        </button>
        <button mat-button>
            <mat-icon>notifications_off</mat-icon>
            <a mat-button (click)="logout()">Logout</a>
          </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <a mat-button routerLink="/app1" >App 1</a>
      </button>
      <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <a mat-button routerLink="/app2" >App 2</a>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <a mat-button (click)="logout()">Logout</a>
      </button>
    </mat-menu>
</mat-toolbar-row>
</mat-toolbar>