<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle routerLink="/app1/one" >Listado empleados</mat-button-toggle>
    <mat-button-toggle routerLink="/app1/two" >Listado clientes</mat-button-toggle>
</mat-button-toggle-group>